body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.page-wrapper {
  margin: 2rem;
  display: grid;
  justify-content: center;
  max-width: 1240px;
}

header {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
  padding-top: 2rem;
}

.list-container {
  display: grid;
  grid-template-columns: 1fr;
}

.product-box {
  display: flex;
  flex-direction: column;
  border: solid black;
  height: 100%;
  width: 100%;
}

.productinfo-box {
  padding: 2rem;
}

.productinfo-box p {
  padding: 1rem;
  height: 75px;
  margin: 0;
}

.img img{
  object-fit: contain;
  width: 100%;
  height: auto;
}

.productdetails {
  display: flex;
  flex-direction: column;
}

.toggleinfo-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.toggleinfo-box ul{
  list-style-position: inside;
  padding: 0;
}

.toggle-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  padding: 0;
  display: flex;
  align-items: center;
  color: black;
}

.price-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin-top: 32px;
}

.price-box h3 {
 font-size: 24px;
}

.price-box h4 {
  text-decoration: line-through;
  text-decoration-color: black;
  color: rgb(99, 98, 98);
  text-align: center;
}

.addbtn-box {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.addbtn {
  border: 1px solid black;
  background-color: transparent;
  box-shadow: 4px 4px;
  cursor: pointer;
  width: 40%;
  padding-top: 4px;
  color: black;
}

.addbtn:active {
  background-color: grey;
}

.cart {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 50px;
  font-size: 30px;
  font-weight: bold;
}

.items {
  font-size: 20px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  line-height: 1.8;
}

@media screen and (min-width: 668px) {
  .list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 20px;
  }

  h1 {
    font-size: 3rem;
  }

  .cart {
    font-size: 40px;
  }

  .items {
    font-size: 30px;
  }
}

@media screen and (min-width: 992px) {
  .list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 20px;
  }
}
